<div class="container">
    <div class="container row g-2 mb-3 mt-3" >
        <h2 class="col-md-5">Gestion de Facturas <i class="fa-solid fa-file"></i></h2>
        <a class="col-md-3 btn btn-primary"  routerLink="../agregarFactura"><h5>Nueva factura <i class="fa-solid fa-plus"></i></h5> </a>

    </div>
    <table class="table table-hover table-striped-rows">
        <thead class="table-dark">
          <tr>
            <th scope="col" class="col-md-3">Num Factura</th>
            <th scope="col">ID Cliente</th>
            <th scope="col">Nombre Cliente</th>
            <th scope="col">Fecha</th>
            
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let factura of facturasLista  | paginate: { itemsPerPage: registrosPorPagina, currentPage: paginaActual}">
            <th scope="row">{{factura.num_factura}}</th>
            <td>{{factura.cliente.id_cliente}}</td>
            <td>{{factura.cliente.nombre}}</td>
            <td>{{factura.fecha | date:'dd/MM/yyyy HH:mm'}}</td>
            
          </tr>
        </tbody>
        
    </table>
    <div  class="d-flex justify-content-center mb-3">
      <pagination-controls (pageChange)="paginaActual = $event"></pagination-controls>
    </div>
    
</div>
